{% extends "layout.html" %}

{% macro display_errors(errors) %}
<div class="text-danger">
    {% for error in errors %}
    {{ error }}
    {% if loop.nextitem %}<br />{% endif %}
    {% endfor %}
</div>
{% endmacro %}

{% block body %}
<h1>Shopping List</h1>
{% if items.__len__() == 0 %}
Your shopping list is empty.
{% endif %}
<ul id="shopping-list-container" class="list-group my-3">
    {% for item in items %}
    <li class="list-group-item shopping-list-item">
        <div class="w-100 d-flex">
            <span class="mr-auto text-break">
                {{- item["amount"] }} {{ item["name"] -}}
            </span>
            <button type="button" class="btn btn-primary mr-2"
                onclick="enableEdit(event)">
                Edit
            </button>
            <button type="submit" class="btn btn-danger" form="delete-form"
                formaction="{{ url_for('delete_shopping_list_item', item_id=item['id']) }}">
                Remove
            </button>
        </div>
        <form method="POST"
            class="form-inline d-none flex-nowrap align-items-start"
            action="{{ url_for('update_shopping_list_item', item_id=item['id']) }}">
            <div class="d-flex flex-column">
                <input name="amount" type="text" class="form-control"
                    value="{{ item['amount'] }}" placeholder="Amount" />
                {{ display_errors(item["amount_errors"]) }}
            </div>
            <div class="d-flex flex-column flex-grow-1 mx-2">
                <input name="name" type="text" class="form-control"
                    value="{{ item['name'].strip() }}" placeholder="Name"
                    required="" />
                {{ display_errors(item["name_errors"]) }}
            </div>
            <datalist id="{{ loop.index }}-datalist"></datalist>
            <button type="submit" class="btn btn-primary mx-2">
                Save
            </button>
            <button type="reset" class="btn btn-secondary cancel-edit-button"
                onclick="cancelEdit(event)">
                Cancel
            </button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </li>
    {% endfor %}
    <li id="new-shopping-list-item"
        class="d-none list-group-item shopping-list-item">
        <form method="POST"
            class="w-100 form-inline flex-nowrap align-items-start"
            action="{{ url_for('create_shopping_list_item') }}">
            <div class="d-flex flex-column">
                {% if new_form %}
                <input name="amount" type="text" class="form-control"
                    value="{{ new_form.amount.data }}" placeholder="Amount" />
                {{ display_errors(new_form.amount.errors) }}
                {% else %}
                <input name="amount" type="text" class="form-control" value=""
                    placeholder="Amount" />
                {% endif %}
            </div>
            <div class="d-flex flex-column flex-grow-1 mx-2">
                {% if new_form %}
                <input name="name" type="text" class="form-control"
                    value="{{ new_form.name.data }}" placeholder="Name"
                    required="" />
                {{ display_errors(new_form.name.errors) }}
                {% else %}
                <input name="name" type="text" class="form-control" value=""
                    placeholder="Name" required="" />
                {% endif %}
            </div>
            <datalist id="new-item-datalist"></datalist>
            <button type="submit" class="btn btn-primary mx-2">
                Save
            </button>
            <button type="reset" class="btn btn-secondary"
                onclick="cancelAddItem()">
                Cancel
            </button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </li>
</ul>
<div class="d-flex justify-content-end">
    <button id="add-item-button" type="button" class="btn btn-success"
        onclick="addItem()">
        Add item
    </button>
</div>
<form id="delete-form" class="d-none" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
<script>
    const isNew = {% if new_form %}true{% else %} false{% endif %};
    const incorrectIndex = {{ incorrect_index| tojson }};
    const correctUrlPath = {{ url_for("get_shopping_list") | tojson}};
    let addElementButton, newItem;

    document.addEventListener("DOMContentLoaded", () => {
        addElementButton = document.getElementById("add-item-button");
        newItem = document.getElementById("new-shopping-list-item");

        if (isNew) {
            addItem();
        }
        if (document.location.pathname !== correctUrlPath) {
            history.replaceState(null, "", correctUrlPath);
        }

        const itemForms = document.querySelectorAll(".shopping-list-item form");
        for (let i = 0; i < itemForms.length; i++) {
            const itemForm = itemForms[i];
            new Autocompleter(
                "{{ url_for('ingredient_completions') }}",
                itemForm.querySelector('input[name="name"]'),
                itemForm.querySelector("datalist"),
            );
            if (i === incorrectIndex) {
                const cancelButton =
                    itemForm.querySelector(".cancel-edit-button");
                cancelButton.onclick = () => location.reload(true);
                toggle(itemForm, itemForm.previousElementSibling);
            }
        }
    });

    function enableEdit(event) {
        const parent = event.target.parentNode;
        toggle(parent.nextElementSibling, parent);
    }

    function cancelEdit(event) {
        const parent = event.target.parentNode;
        toggle(parent.previousElementSibling, parent);
    }

    function toggle(show, hide) {
        show.classList.remove("d-none");
        show.classList.add("d-flex");
        hide.classList.remove("d-flex");
        hide.classList.add("d-none");
    }

    function addItem() {
        toggle(newItem, addElementButton);
    }

    function cancelAddItem() {
        toggle(addElementButton, newItem);
    }
</script>
<script src="/static/js/autocomplete.js"></script>
{% endblock %}
