{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ form_action }}">
    <div class="form-group">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(id='name', class='form-control') }}
    </div>
    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(id='description', rows='5', class='form-control') }}
    </div>
    <div class="form-group">
        <label for="steps">{{ form.steps.label }}</label>
        {{ form.steps(id='steps', rows='5', class='form-control') }}
    </div>
    <div class="form-group d-flex justify-content-end">
        <a class="btn btn-secondary" href="{{ url_for('get_recipes') }}">
            Cancel
        </a>
        <button class="btn btn-primary ml-2" type="submit">
            Save
        </button>
    </div>
</form>
{% endblock %}
