{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ save_action }}">
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(id='name', class='form-control') }}
        {% for error in form.name.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(id='description', rows='5', class='form-control') }}
        {% for error in form.description.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.steps.label }}
        {{ form.steps(id='steps', rows='5', class='form-control') }}
        {% for error in form.steps.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <div class="d-flex mb-2">
            <span class="mr-auto">Ingredients</span>
            <button type="button" class="btn btn-success"
                onclick="addIngredient()">
                Add ingredient
            </button>
        </div>
        <div>
            {% for error in form.ingredient_amounts.errors %}
            {% if is_str(error) %}
            <p class="text-danger">{{ error }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div id="ingredient-list"></div>
    </div>
    <div class="form-group d-flex justify-content-end">
        <button class="btn btn-primary mr-2" type="submit">
            Save
        </button>
        <a class="btn btn-secondary" href="{{ cancel_action }}">
            Cancel
        </a>
    </div>
    {{ form.csrf_token }}
</form>
<template id="ingredient-row-template">
    <div class="form-inline mb-2 align-items-start">
        <div class="d-flex flex-column">
            <input class="form-control amount-input" type="text" value=""
                placeholder="Amount">
            <div class="amount-error-display text-danger"></div>
        </div>
        <div class="d-flex flex-column flex-grow-1 mx-2">
            <input class="form-control name-input" required="" type="text"
                value="" placeholder="Ingredient">
            <div class="name-error-display text-danger"></div>
        </div>
        <datalist></datalist>
        <button type="button" class="btn btn-danger"
            onclick="removeIngredient(event)">
            Remove
        </button>
    </div>
</template>
<script>
    let ingredientList, ingredientRowTemplate;
    const completers = [];
    const ingredients = {{ ingredient_data| tojson }};

    document.addEventListener("DOMContentLoaded", () => {
        ingredientList = document.getElementById("ingredient-list");
        ingredientRowTemplate = document.getElementById("ingredient-row-template");

        for (let i = 0; i < ingredients.initialValues.length; i++) {
            const [row, completer] =
                createIngredientRow(i, ingredients.initialValues[i]);
            ingredientList.append(row);
            completers.push(completer);
        }
    });

    function addIngredient() {
        const [row, completer] = createIngredientRow(ingredients.count++, {
            "amount": "",
            "amountErrors": [],
            "name": "",
            "nameErrors": [],
        });
        ingredientList.append(row);
        completers.push(completer);
    }

    function removeIngredient(event) {
        const row = event.target.parentNode;
        const index = parseInt(row.dataset.index);
        let next = row.nextElementSibling;
        while (next) {
            const newIndex = parseInt(next.dataset.index) - 1;
            next.dataset.index = newIndex;
            const amountInput = next.querySelector(".amount-input");
            amountInput.id = `ingredient_amounts-${newIndex}-amount`;
            amountInput.name = amountInput.id;
            const nameInput = next.querySelector(".name-input");
            nameInput.id = `ingredient_amounts-${newIndex}-name`;
            nameInput.name = nameInput.id;
            const dataList = next.querySelector("datalist");
            dataList.id = `ingredient_amounts-${newIndex}-datalist`;
            nameInput.setAttribute("list", dataList.id);
            next = next.nextElementSibling;
        }
        row.remove();
        completers.splice(index, 1)[0].dispose();
        ingredients.count--;
    }

    function createIngredientRow(index, data) {
        const row = ingredientRowTemplate.content.cloneNode(true);
        row.firstElementChild.dataset.index = index;
        const amountInput = row.querySelector(".amount-input");
        amountInput.id = `ingredient_amounts-${index}-amount`;
        amountInput.name = amountInput.id;
        amountInput.value = data.amount;
        const nameInput = row.querySelector(".name-input");
        nameInput.id = `ingredient_amounts-${index}-name`;
        nameInput.name = nameInput.id;
        nameInput.value = data.name;
        const dataList = row.querySelector("datalist");
        dataList.id = `ingredient_amounts-${index}-datalist`;
        const completer = new Autocompleter(
            "{{ url_for('ingredient_completions') }}",
            nameInput,
            dataList,
        );
        displayErrors(
            row.querySelector(".amount-error-display"),
            data.amountErrors,
        );
        displayErrors(
            row.querySelector(".name-error-display"),
            data.nameErrors,
        );
        return [row, completer];
    }

    function displayErrors(element, errors) {
        for (let i = 0; i < errors.length; i++) {
            if (i > 0) {
                element.append(document.createElement("br"));
            }
            element.append(errors[i]);
        }
    }
</script>
<script src="/static/js/autocomplete.js"></script>
{% endblock %}
