{% extends "layout.html" %}

{% from "delete-modal.html" import delete_modal %}
{% from "pagination-controls.html" import pagination_controls %}

{% block body %}
<h1>Recipes</h1>
<form id="search-form" class="form-inline flex-nowrap align-items-start"
    method="GET" action="{{ url_for('get_recipes') }}" onsubmit="onSearch()">
    <a class="btn btn-success mr-auto" href="{{ url_for('create_recipe') }}">
        Add recipe
    </a>
    {{ form.query(class="form-control mx-2", placeholder=form.query.label.text) }}
    {{ form.page(class="d-none", value=1) }}
    <button type="submit" class="btn btn-primary ml-2">
        Search
    </button>
    <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown">
            Filters
        </button>
        <div class="dropdown-menu p-2 search-filters"
            onclick="stopPropagation(event)">
            <div class="d-flex flex-column align-items-start">
                <div class="form-check">
                    {{ form.no_name(class="form-check-input") }}
                    {{ form.no_name.label }}
                </div>
                <div class="form-check">
                    {{ form.no_description(class="form-check-input") }}
                    {{ form.no_description.label }}
                </div>
                <div class="form-check">
                    {{ form.no_steps(class="form-check-input") }}
                    {{ form.no_steps.label }}
                </div>
            </div>
        </div>
    </div>
    {% if form.query.data %}
    <button type="submit" class="btn btn-secondary ml-2" onclick="showAll()">
        Show all
    </button>
    {% endif %}
</form>
{% if form.errors %}
<p class="text-danger mt-2">
    {% for error in form.query.errors %}
    {{ error }}
    {% if loop.nextitem %}<br />{% endif %}
    {% endfor %}
</p>
{% else %}
<div class="d-flex flex-wrap mt-2">
    {% for recipe in pagination.items %}
    {% if recipe.name %}
    {% set display_name = recipe.name %}
    {% else %}
    {% set display_name = "Unnamed recipe" %}
    {% endif %}
    <div class="card m-1 recipe-card">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title limit-lines _2">
                {{ display_name }}
            </h5>
            <p class="card-text limit-lines _5">
                {{ recipe.description }}
            </p>
            <div class="d-flex justify-content-end mt-auto">
                <a class="btn btn-primary mr-2"
                    href="{{ url_for('get_recipe', recipe_id=recipe.id) }}">
                    Details
                </a>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#delete-modal"
                    data-recipe-name="{{ display_name }}"
                    data-action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">
                    Delete
                </button>
            </div>
        </div>
    </div>
    {% else %}
    {% if form.query.data %}
    <p>No recipes matched the search criteria.</p>
    {% else %}
    <p>You have no recipes.</p>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{{ pagination_controls(pagination, "search-form", "toPage") }}
<form id="delete-recipe-form" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
{{ delete_modal(id='delete-modal', title='Delete recipe')}}
<style>
    .recipe-card {
        width: 18rem;
    }

    .limit-lines {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .limit-lines._2 {
        -webkit-line-clamp: 2;
    }

    .limit-lines._5 {
        -webkit-line-clamp: 5;
    }
</style>
<script>
    let searchInput, pageInput, searchFilters;
    document.addEventListener("DOMContentLoaded", () => {
        searchInput = document.getElementById("query");
        pageInput = document.getElementById("page");
        searchFilters =
            document.querySelectorAll(".search-filters input[type=checkbox]");

        $("#delete-modal").on("show.bs.modal", function (event) {
            const button = $(event.relatedTarget);
            const name = button.data("recipe-name");
            const bodyText =
                `Are you sure you want to permanently delete ${name}?`;

            const modal = $(this);
            modal.find(".modal-body p").text(bodyText);
            modal.find("form").attr("action", button.data("action"));
        });
    });

    function onSearch() {
        for (const filter of searchFilters) {
            filter.checked = !filter.checked;
        }
    }

    function showAll() {
        searchInput.value = "";
        for (const filter of searchFilters) {
            filter.checked = true;
        }
    }

    function toPage(event) {
        pageInput.value = event.target.dataset.page;
    }

    function stopPropagation(event) {
        event.stopPropagation();
    }
</script>
{% endblock %}
