{% extends "layout.html" %}

{% block body %}
<h1>Recipes</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th colspan="2">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-success"
                        href="{{ url_for('create_recipe_form') }}">
                        Add recipe
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.description }}</td>
            <td>
                <a class="btn btn-primary"
                    href="{{ url_for('get_recipe', recipe_id=recipe.id) }}">
                    Details
                </a>
            </td>
            <td>
                <button class="btn btn-danger" form="delete-recipe-form"
                    type="submit"
                    formaction="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form id="delete-recipe-form" method="POST"></form>
{% endblock %}
