{% extends "layout.html" %}

{% from "delete-modal.html" import delete_modal %}

{% macro ingredient_row(recipe_ingredient) %}
<span class="text-break flex-grow-1">
    {{ recipe_ingredient["amount"] }}
    {{ recipe_ingredient["name"] }}
</span>
<div class="dropdown">
    <button type="button" class="btn btn-light dropdown-toggle"
        data-toggle="dropdown">
        <img src="/static/img/bag.svg" alt="" width="16" height="16"
            title="Reorder" />
    </button>
    <div class="dropdown-menu dropdown-menu-right w-100">
        {% for amount in recipe_ingredient["shopping_list_amounts"] %}
        <span class="dropdown-item-text text-break">
            {{ amount }}
        </span>
        {% endfor %}
        <button type="button" class="dropdown-item"
            data-ingredient-id="{{ recipe_ingredient['id'] }}"
            data-amount="{{ recipe_ingredient['amount'] }}"
            data-amount-unit="{{ recipe_ingredient['amount_unit'] }}"
            onclick="addToShoppingList(event)">
            {% if recipe_ingredient["shopping_list_amounts"] %}
            Click here to add more.
            {% else %}
            Not in shopping list. Click here to add.
            {% endif %}
        </button>
    </div>
</div>
{% endmacro %}

{% block body %}
<h1 class="text-break">
    {% if recipe.name %}
    {{ recipe.name }}
    {% else %}
    Unnamed recipe
    {% endif %}
</h1>
<h2>Description</h2>
<p class="text-display">
    {%- if recipe.description -%}
    {{ recipe.description }}
    {%- else -%}
    No description
    {%- endif -%}
</p>
<h2>Ingredients</h2>
{% if groups %}
{% for group in groups %}
{% if group["name"] == "" %}
{% for recipe_ingredient in group["ingredients"] %}
<div class="d-flex mb-1">{{ ingredient_row(recipe_ingredient) }}</div>
{% endfor %}
{% else %}
<h5>{{ group["name"] }}</h5>
<ul>
    {% for recipe_ingredient in group["ingredients"] %}
    <li class="d-flex mb-1">{{ ingredient_row(recipe_ingredient) }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% else %}
<p>No ingredients</p>
{% endif %}
<h2>Steps</h2>
<p class="text-display">
    {%- if recipe.steps -%}
    {{ recipe.steps }}
    {%- else -%}
    No steps
    {%- endif -%}
</p>
<div class="form-group d-flex justify-content-end">
    <a class="btn btn-primary mr-2"
        href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
        Edit
    </a>
    <button type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#delete-modal">
        Delete
    </button>
</div>
{{ delete_modal(
    id="delete-modal",
    title="Delete recipe",
    body="Are you sure you want to permanently delete this recipe?",
    action=url_for('delete_recipe', recipe_id=recipe.id),
)}}
<form method="POST" action="{{ url_for('add_ingredient_to_shopping_list') }}"
    id="add-to-shopping-list-form" class="d-none">
    <input name="recipe_id" value="{{ recipe.id }}" />
    <input name="ingredient_id" />
    <input name="amount" />
    <input name="amount_unit" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
<script>
    function addToShoppingList(event) {
        const data = event.target.dataset;
        const form = document.getElementById("add-to-shopping-list-form");
        form.querySelector('input[name="ingredient_id"]')
            .value = data.ingredientId;
        form.querySelector('input[name="amount"]')
            .value = data.amount;
        form.querySelector('input[name="amount_unit"]')
            .value = data.amountUnit;
        form.submit();
    }
</script>
<style>
    .dropdown-menu button {
        white-space: normal;
    }

    .ingredient-padding {
        width: 10%;
    }
</style>
{% endblock %}
