{% extends "layout.html" %}

{% from "delete-modal.html" import delete_modal %}

{% block body %}
<h1>
    {% if recipe.name %}
    {{ recipe.name }}
    {% else %}
    Unnamed recipe
    {% endif %}
</h1>
<p>
    {% if recipe.description %}
    {{ recipe.description }}
    {% else %}
    No description
    {% endif %}
</p>
<h2>Ingredients</h2>
{% if recipe_ingredients %}
<ol class="list-group">
    {% for recipe_ingredient in recipe_ingredients %}
    <li class="list-group-item d-flex justify-content-between">
        <span>
            {{ join_amount(
                recipe_ingredient["amount"],
                recipe_ingredient["amount_unit"],
            ) }}
            {{ recipe_ingredient["name"] }}
        </span>
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle"
                data-toggle="dropdown">
                Amount in shopping list
            </button>
            <div class="dropdown-menu w-100">
                {% for amount in recipe_ingredient["shopping_list_amounts"] %}
                <span class="dropdown-item-text">{{ amount }}</span>
                {% endfor %}
                <button type="button" class="dropdown-item"
                    data-ingredient-id="{{ recipe_ingredient['id'] }}"
                    data-amount="{{ recipe_ingredient['amount'] }}"
                    data-amount-unit="{{ recipe_ingredient['amount_unit'] }}"
                    onclick="addToShoppingList(event)">
                    {% if recipe_ingredient["shopping_list_amounts"] %}
                    Click here to add more.
                    {% else %}
                    Not in shopping list. Click here to add.
                    {% endif %}
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>
{% else %}
<p>No ingredients</p>
{% endif %}
<h2>Steps</h2>
<p>
    {% if recipe.steps %}
    {{ recipe.steps }}
    {% else %}
    No steps
    {% endif %}
</p>
<div class="form-group d-flex justify-content-end">
    <a class="btn btn-primary mr-2"
        href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
        Edit
    </a>
    <button type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#delete-modal">
        Delete
    </button>
</div>
{{ delete_modal(
    id="delete-modal",
    title="Delete recipe",
    body="Are you sure you want to permanently delete this recipe?",
    action=url_for('delete_recipe', recipe_id=recipe.id),
)}}
<form method="POST" action="{{ url_for('add_ingredient_to_shopping_list') }}"
    id="add-to-shopping-list-form" class="d-none">
    <input name="recipe_id" value="{{ recipe.id }}" />
    <input name="ingredient_id" />
    <input name="amount" />
    <input name="amount_unit" />
</form>
<script>
    function addToShoppingList(e) {
        const data = e.target.dataset;
        const form = document.getElementById("add-to-shopping-list-form");
        form.querySelector('input[name="ingredient_id"]')
            .value = data.ingredientId;
        form.querySelector('input[name="amount"]')
            .value = data.amount;
        form.querySelector('input[name="amount_unit"]')
            .value = data.amountUnit;
        form.submit();
    }
</script>
<style>
    .dropdown-menu button {
        white-space: normal;
    }
</style>
{% endblock %}
